{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Gestión de Alumnos</h1>
{% if session['role'] == 'admin' %}
<a href="/admin/alumnos/nuevo" class="btn btn-primary mb-3">Añadir Nuevo Alumno</a>
{% endif %}
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Edad</th>
            <th>Familiar ID</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for alumno in alumnos %}
        <tr>
            <td>{{ alumno[0] }}</td>
            <td>{{ alumno[1] }}</td>
            <td>{{ alumno[2] }}</td>
            <td>{{ alumno[3] }}</td>
            <td>{{ alumno[4] }}</td>
            <td>
                {% if session['role'] == 'admin' %}
                <a href="/admin/alumnos/{{ alumno.id }}/editar" class="btn btn-secondary btn-sm">Editar</a>
                <a href="/admin/alumnos/{{ alumno.id }}/eliminar" class="btn btn-danger btn-sm">Eliminar</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}