{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Gestión de Inscripciones</h1>
<a href="/admin/inscripciones/nueva" class="btn btn-primary mb-3">Añadir Nueva Inscripción</a>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Alumno</th>
            <th>Clase</th>
            <th>Nivel</th>
            <th>Cuota total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for inscripcion in inscripciones %}
        <tr>
            <td>{{ inscripcion[0] }}</td>
            <td>{{ inscripcion[1] }}</td>
            <td>{{ inscripcion[2] }}</td>
            <td>{{ inscripcion[3] }}</td>
            <td>{{ inscripcion[4] }}</td>
            <td>
                <a href="/admin/inscripciones/{{ inscripcion[0] }}/editar" class="btn btn-secondary btn-sm">Editar</a>
                <a href="/admin/inscripciones/{{ inscripcion[0] }}/eliminar" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
